body {background-color: #533E85;
    color: white;
    font-family: texto2;
}
h1 {font-family:texto1 ;
font-size: 2.5em;
text-align: center;
background-color: #488FB1;
margin: 2%;
padding: 2%;}
@font-face {
    font-family: texto1;
    src: url(../fonts/whats-love-oshare/gomarice_whats_love_oshare.ttf);
}
@font-face {
    font-family: texto2;
    src: url(../fonts/oswald/Oswald-Bold.ttf);
}